<?xml version="1.0"?>
<!--
/**
 * Easygento
 * @author Phuong LE <web.phuong.le@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Easygento_InstanceReminder" setup_version="1.0.0">
        <sequence>
            <module name="Easygento_Core"/>
        </sequence>
    </module>
</config>
